@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
  /* primary colors */
  --yellow-theme-background-color: #1d1d1d;
  --yellow-theme-main-color: #ffdd40;
  --yellow-theme-sub-text-color: #ffffff;
  --yellow-theme-nav-background-color: #383737;

  --selected-theme-background-color: var(--yellow-theme-background-color);
  --selected-theme-main-color: var(--yellow-theme-main-color);
  --selected-theme-sub-text-color: var(--yellow-theme-sub-text-color);
  --selected-theme-nav-background-color:var(--yellow-theme-nav-background-color);
    --font-base: "Poppins",sans-serif;
  
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  background: var(--selected-theme-background-color);
  height: 100%;
}
#root {
  height: 100%;
}
